body {
  background-color: #CAE6B2;
}

.card-wrapper{
    display: flex;
    justify-content: space-evenly;
    padding: 40px 20px;
    width: auto;
    background-color: #C3FF93;
    color: rgb(15, 0, 0);
    margin: 150px auto;
    border: 20px solid #8E3E63;

};


@media only screen and (max-width: 600px) {
  
    .card-wrapper{
        display: block;
        flex-direction: column;
    }
  }